header {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #504721;
    margin: 5px;
    padding: 5px;
    /* padding-top:20px; */
    /* padding-bottom:190px; */
    /* font-weight: bold;  */
}


header img{
    filter: sepia();
    margin-left:0px;
    left: 0px;
}
.Search_conatiner{
    padding-top: 70px;
}
